@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font: 'Roboto', sans-serif;
$h1: 2em;
$h2: 1,5em;
$h3: 1,17em;
$h4: 1em;
$h5: 0.83em;
$h6: 0.67em;

.gridContainer {
  width: 80%;
  display: grid;
  margin: 20px auto;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
}

.pokeType {
  width: 250px;
  height: 250px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.10%);
  border-radius: 10px;
  align-items: center;
  margin: 0 auto;
  background-image: url('../img/logo.png');
  // background-position: right;

  .pokeImage {
    position: absolute;
    float: right;
    min-width: 150px;
    margin-top: 3rem;
    margin-left: 5rem;
    transition: transform .7s ease-in-out;
  }

  .pokeImage:hover {
    transform: rotate(360deg);
  }

  .pokeName {
    font-family: $font;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    font-size: 1.5rem;
    margin: 1rem;
  }

  .pokeOwned {
    font-family: $font;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 1rem;
    color: rgba(255, 255, 255, 0.3);
    text-align: right;
  }

  .pokeTypes {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    position: relative;
    top: 8rem;
    height: 4rem;

    .pokeSkill {
      font-family: $font;
      text-transform: capitalize;
      color: white;
      font-weight: bold;
      font-size: 0.8rem;
      padding: 8px;
      padding-left: 15px;
    }
  }
}

.details {
  height: 100%;

  .headerDetail {
    padding: 5rem;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;

    h1 {
      color: white;
      display: inline-block;
    }
    h2 {
      color: white;
      display: inline-block;
      float: right;
      margin-top: 1rem;
    }

    img {
      width: 25%;
      position: relative;
      float: right;
      bottom: 5rem;
    }

    .abbilities {
      h3 {
        display: inline-block;
        font-size: 14px;
        color: white;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 10px;
        border-radius: 50px;
        width: 5rem;
        margin-right: 1rem;
        text-align: center;
      }
    }
  }

  .bottomDetail {
    background-color: white;
    border-radius: 50px 50px 0 0;
  }
}